In [38]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [39]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [40]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [41]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [42]:
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [43]:
for school in high_school_types:
    print(f"{school['High School']} High School is a {school['Type']} school")

Griffin High School is a District school
Figueroa High School is a District school
Wilson High School is a Charter school
Wright High School is a Charter school

In [44]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [45]:
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [47]:
# Add the Pandas dependency.
import pandas as pd

In [52]:
# Create a Pandas Series froma list.
school_series = pd.Series(high_schools)

In [53]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [57]:
for index in range(0,len(school_series)):
    print(school_series[index])

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [59]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [60]:
school_df =pd.DataFrame(high_school_dicts)

In [61]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [62]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [100]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [101]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [102]:
schools_df["school_name"] = school_name
schools_df["Type"] = type_of_school
schools_df

   School ID            school_name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [103]:
school_df.columns

Index(['School ID', 'school_name', 'type', 'School name'], dtype='object')

In [120]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [127]:
school_df.values

array([[0, 'Huang High    School', 'District', 'Huang High School'],
       [1, 'Figueroa High School', 'District', 'Figueroa High School'],
       [2, 'Shelton High School', 'Charter', 'Shelton High School'],
       [3, 'Hernandez High School', 'District', 'Hernandez High School'],
       [4, 'Griffin High School', 'Charter', 'Griffin High School']],
      dtype=object)

In [136]:
# Skill Drill 4.3.5

School_dict = {
    "school_ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,15], 
    "school_name": ["Huang High School", "Figueroa High School",            
                "Shelton High School", "Hernandez High School",
                "Griffin High School","Wilson High School",
                "Cabrera High School", "Bailey High School",
                "Holden HighSchool", "Pena High School",
                "Wright Hihg School", "Rodrigues High School",
                "Johnson High School","Ford High School",
                "Thomas High School"],
    "type": ["D", "D", "C", "D","C", "C","C","D","C","C","C","D","D","D","C"]
}

In [135]:
pd.DataFrame(School_dict)

    school_iD            school_name type
0           1      Huang High School    D
1           2   Figueroa High School    D
2           3    Shelton High School    C
3           4  Hernandez High School    D
4           5    Griffin High School    C
5           6     Wilson High School    C
6           7    Cabrera High School    C
7           8     Bailey High School    D
8           9      Holden HighSchool    C
9          10       Pena High School    C
10         11     Wright Hihg School    C
11         12  Rodrigues High School    D
12         13    Johnson High School    D
13         14       Ford High School    D
14         15     Thomas High School    C